/* Pagination */
.pagination {
    display: flex;
    justify-content: center;
    margin: -3px;

    button {
        padding: 12px 15px;
        border: 1px solid #c9d3dd;
        margin: -1px;
        background-color: #fff;
        cursor: pointer;

        &:first-child {
            border-bottom-left-radius: 5px;
            border-top-left-radius: 5px;
        }

        &:last-child {
            border-bottom-right-radius: 5px;
            border-top-right-radius: 5px;
        }

        &:hover {
            background-color: #fffaeb;
        }

        &.btn-page:disabled {
            background-color: #d8e9fb !important;
            border: 1px solid #8bc8f6 !important;
            color: #708ca7 !important;
        }
    }
}