/* Table */
table.table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border: 1px solid #c9d3dd;
    color: #416281;
    margin-bottom: 32px;

    tr {
        border-top: 1px solid #c9d3dd;
        border-bottom: 1px solid #c9d3dd;
    }

    a {
        color: #3a92eb;
        text-decoration-color: aquamarine;
    }

    thead {
        background-color: #f8fafc;
    }

    tbody { 
        font-size: 13px;
        
        tr {
            height: 50px;

            &:hover, .line-select {
                cursor: pointer;
                background-color: #d8e9fb;
                border: 1px solid #8bc8f6;
            }
        }
    }
}