<table>
	<tr>
		<th>
			<input type="checkbox" name="cbx-all">
		</th>
		<th>
			<span>Placa</span>
		</th>
		<th>
			<span>Modelo</span>
		</th>
		<th>
			<span>Marca</span>
		</th>
		<th>
			<span>Foto</span>
		</th>
		<th>
			<span>Combustível</span>
		</th>
		<th>
			<span>Valor</span>
		</th>
	</tr>
	<tr>
		<td>
			<input type="checkbox" name="cbx-all">
		</td>
		<td>
			<span>AAA0001</span>
		</td>
		<td>
			<span>Gol</span>
		</td>
		<td>
			<span>Volkswagem</span>
		</td>
		<td>
			<span>Sem Foto</span>
		</td>
		<td>
			<span>Gasolina</span>
		</td>
		<td>
			<span>20.000,00</span>
		</td>
	</tr>
	<tr>
		<td>
			<input type="checkbox" name="cbx-all">
		</td>
		<td>
			<span>AAA0002</span>
		</td>
		<td>
			<span>Gol</span>
		</td>
		<td>
			<span>Volkswagem</span>
		</td>
		<td>
			<span>Sem Foto</span>
		</td>
		<td>
			<span>Álcool</span>
		</td>
		<td>
			<span>20.000,00</span>
		</td>
	</tr>
	<tr>
		<td>
			<input type="checkbox" name="cbx-all">
		</td>
		<td>
			<span>AAA0003</span>
		</td>
		<td>
			<span>Gol</span>
		</td>
		<td>
			<span>Volkswagem</span>
		</td>
		<td>
			<span><a href="www.imagem-da-foto.com.br">Imagem</a></span>
		</td>
		<td>
			<span>Gasolina</span>
		</td>
		<td>
			<span>20.000,00</span>
		</td>
	</tr>
	<tr>
		<td>
			<input type="checkbox" name="cbx-all">
		</td>
		<td>
			<span>AAA0004</span>
		</td>
		<td>
			<span>Pálio</span>
		</td>
		<td>
			<span>Fiat</span>
		</td>
		<td>
			<span><a href="www.imagem-da-foto.com.br">Imagem</a></span>
		</td>
		<td>
			<span>Gasolina</span>
		</td>
		<td>
			<span>20.000,00</span>
		</td>
	</tr>
	<tr>
		<td>
			<input type="checkbox" name="cbx-all">
		</td>
		<td>
			<span></span>
		</td>
		<td>
			<span>Gol</span>
		</td>
		<td>
			<span>Volkswagem</span>
		</td>
		<td>
			<span>Sem Foto</span>
		</td>
		<td>
			<span>Gasolina</span>
		</td>
		<td>
			<span>20.000,00</span>
		</td>
	</tr>
</table>