<div class="fleet-control-header">
	<div class="grid">
		<button class="btn btn-green" [routerLink]="['/fleetControl/new/']">Novo Carro</button>

		<div class="form-content">
			<input type="text" class="form-item form-item-input" name="search" id="header-search" placeholder="Pesquisar">
			<button class="form-item form-item-btn">Search</button>
		</div>
	</div>
</div>

<div class="fleet-control-body">
    <table class="table">
      <thead>
        <tr>
          <th align="left">
            <input type="checkbox" name="cbx-all">
          </th>
          <th align="left">
            <span>Placa</span>
          </th>
          <th align="left">
            <span>Modelo</span>
          </th>
          <th align="left">
            <span>Marca</span>
          </th>
          <th align="left">
            <span>Foto</span>
          </th>
          <th align="left">
            <span>Combustível</span>
          </th>
          <th>
            <span>Valor</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let veiculo of veiculos">
          <td>
            <input type="checkbox" name="cbx-all">
          </td>
          <td>
            <span>{{ veiculo.placa }}</span>
          </td>
          <td>
            <span>{{ veiculo.modelo }}</span>
          </td>
          <td>
            <span>{{ veiculo.marca }}</span>
          </td>
          <td>
            <span *ngIf="veiculo.imagem === null">Sem Foto</span>
            <span *ngIf="veiculo.imagem !== null"><a href="{{ veiculo.imagem }}">Imagem</a></span>
          </td>
          <td>
            <span>{{ veiculo.combustivel }}</span>
          </td>
          <td>
            <span>{{ veiculo.valor | currency: 'BRL' | slice:3 }}</span>
          </td>
        </tr>
      </tbody>
    </table>
</div>

<div class="fleet-control-footer">
  <div class="pagination">
		<button><<</button>
		<button>1</button>
		<button>2</button>
		<button>3</button>
		<button>4</button>
		<button>5</button>
		<button>>></button>
	</div>
</div>