<div class="fleet-control-header">
	<div class="grid">
    <div class="buttons">
      <button class="btn btn-green" [routerLink]="['/fleetControl/new/']">Novo Carro</button>
      <button class="btn btn-red" *ngIf="hasCheckboxChecked" (click)="onDelete()">Deletar Carro</button>
    </div>

		<div class="form-content">
			<input type="text" class="form-item form-item-input" name="search" id="header-search" placeholder="Pesquisar">
			<button class="form-item form-item-btn">Search</button>
		</div>
	</div>
</div>

<div class="fleet-control-body">
    <table class="table">
      <thead>
        <tr>
          <th align="left">
            <input type="checkbox" name="cbx-all" 
            #checkbox="ngModel"
            [(ngModel)]="checkboxHead"
            (change)="onChangeCbxAll()">
          </th>
          <th align="left">
            <span>Placa</span>
          </th>
          <th align="left">
            <span>Modelo</span>
          </th>
          <th align="left">
            <span>Marca</span>
          </th>
          <th align="left">
            <span>Foto</span>
          </th>
          <th align="left">
            <span>Combustível</span>
          </th>
          <th>
            <span>Valor</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let veiculo of veiculos; let idx = index">
          <td>
            <input type="checkbox" name="cbx" 
              #cbx="ngModel"
              [(ngModel)]="veiculo.checked"
              (change)="onChangeCbx()">
          </td>
          <td [routerLink]="['/fleetControl/edit/', resolvePlaca(veiculo)]">
            <span>{{ veiculo.placa }}</span>
          </td>
          <td [routerLink]="['/fleetControl/edit/', resolvePlaca(veiculo)]">
            <span>{{ veiculo.modelo }}</span>
          </td>
          <td [routerLink]="['/fleetControl/edit/', resolvePlaca(veiculo)]">
            <span>{{ veiculo.marca }}</span>
          </td>
          <td [routerLink]="['/fleetControl/edit/', resolvePlaca(veiculo)]">
            <span *ngIf="veiculo.imagem === null || veiculo.imagem === ''">Sem Foto</span>
            <span *ngIf="veiculo.imagem !== null && veiculo.imagem !== ''"><a href="{{ veiculo.imagem }}">Imagem</a></span>
          </td>
          <td [routerLink]="['/fleetControl/edit/', resolvePlaca(veiculo)]">
            <span>{{ veiculo.combustivel }}</span>
          </td>
          <td [routerLink]="['/fleetControl/edit/', resolvePlaca(veiculo)]">
            <span>{{ veiculo.valor | currency: 'BRL' | slice:3 }}</span>
          </td>
        </tr>
        <tr *ngIf="veiculos.length == 0">
          <td align="center" colspan="7">
            Não hà veículos cadastrados. <a [routerLink]="['/fleetControl/new/']">Clique aqui</a> para inserir um novo.
          </td>
        </tr>
      </tbody>
    </table>
</div>

<div class="fleet-control-footer">
  <div class="pagination">
		<button><<</button>
		<button>1</button>
		<button>2</button>
		<button>3</button>
		<button>4</button>
		<button>5</button>
		<button>>></button>
	</div>
</div>