<div class="panel">

  <h1 *ngIf="isNew">Novo Veículo</h1>
  <h1 *ngIf="!isNew">Editar Veículo</h1>

  <div class="form-control">

    <span>Placa</span>
    <input type="text" 
      name="placa"
      #placa="ngModel"
      required
      [(ngModel)]="veiculo.placa"><br />
    
    <span>Marca</span>
    <input type="text" 
      name="marca" 
      #marca="ngModel"
      required
      [(ngModel)]="veiculo.marca"><br />
    
    <span>Modelo</span>
    <input type="text" 
      name="modelo" 
      #modelo="ngModel"
      required
      [(ngModel)]="veiculo.modelo"><br />
    
    <span>Combustível</span>
    <input type="text" 
      name="combustivel" 
      #combustivel="ngModel"
      required
      [(ngModel)]="veiculo.combustivel"><br />

    <span>Imagem</span>
    <input type="text" 
      name="imagem" 
      #imagem="ngModel"
      required
      [(ngModel)]="veiculo.imagem"><br />

    <span>Valor</span>
    <input type="text" 
      name="valor" 
      #valor="ngModel"
      required
      [(ngModel)]="veiculo.valor"><br />


    <input type="submit" value="Gravar" (click)="onSubmit()">
    <input type="button" value="Cancelar" (click)="goBack()">
    
  </div>
  
</div>